@model IEnumerable<JewelryStore.Models.MComponent>

@{
    ViewData["Title"] = "Index";
}

<h1>Металічні складові</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                InStock
            </th>
            <th>
                Metal
            </th>
            <th>
                Provisioner
            </th>
            <th>
                Jewelry Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Metals.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.provisioner.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JType.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.mcID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.mcID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.mcID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
