@model JewelryStore.Models.Jewelry

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Jewelry</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OComponents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OComponents.oID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MComponents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MComponents.mcID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EResins)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EResins.erID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.jID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
